<!DOCTYPE html>
<html>
<head>
	<title>HACKATHON</title>
	<link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
    <body>
<div class="user-card round5">
    <div class="login-box" action="/signin" method="post">
        <h4><center>Sign In</center></h4>

        <a href="/" class="login-with-google">
            Login with UP MAIL
        </a>
    </div>
</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
  <script src="/static/js/index.js"></script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
</body>
</html>
